@charset "utf-8";
//@import "compass/reset";
//sollte diese folgende Zeile zu einer Fehlermeldung führen - kommentieren Sie die folgende und die obere Zeile aus und kommentieren Sie die nachfolgende ein
//@import "compass/css3";



@import "base"; /* inkludiert die Datei _base.scss */
@import "button"; /* inkludiert die Datei _button.scss */


.btn {
    @include -webkit-transition-property(padding);
    @include -webkit-transition-duration(300ms);
    @include -webkit-transition-delay(0ms);
    @include -webkit-transition-timing-function(linear);

    &.ease-in {
        /* TODO */
        @include -webkit-transition(padding 400ms ease-in 200ms);
    }

    &.ease-out {
        /* TODO */
        @include -webkit-transition(padding 500ms ease-out 100ms);
    }

    &.ease-in-out {
        /* TODO */
        @include -webkit-transition(padding 1600ms ease-in-out 500ms);
    }

    &.green {
        /* TODO */
        @include -webkit-transition(color 900ms linear 500ms);
    }

    &.animation {
        position: absolute;
        left:0;
        top:0;
        right:auto;
        bottom:auto;
        animation-timing-function: linear;
    }
}

body:hover .animation {
    animation-name:myanimation2;
    animation-duration:5s;
}


.btn:hover {
    padding-left: 25px;
    padding-right: 25px;
}

@keyframes myanimation2 {
    0% {
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
        position: absolute;
        color: blue;
    }
    25% {
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
        position: absolute;
        color: green;
    }
    50% {
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
        position: absolute;
        color: red;
    }
    75% {
        bottom: 0;
        left: 0;
        right: auto;
        top: auto;
        position: absolute;
        color: yellow;
    }
    100% {
        bottom: auto;
        left: 0;
        right: auto;
        top: 0;
        position: absolute;
        color: blue;
    }
}