@import "compass/reset";
@import "compass/css3";

//AUFGABE 2a) variablen für farben und abstände generiert
$errorColor: #d9534f;
$warningColor: #f0ad4e;
$successColor:#5cb85c;
$border: 1px solid #000;
$margin: 10px 5px 10px 5px;
$padding: 5px;

//AUFGABE 2b) keine Vererbungen möglich


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family:'Open Sans', sans-serif;
}

/* dies ist ein kommentar */
#main {
    width: 990px;
    margin:0 auto;
}


input[type="text"],input[type="password"] {
    border:$border;
    padding:$padding;
    margin:$margin;

    width: 180px;
}

input[type="submit"] {
    border:$border;
    border-radius:0;
    background-color:#fafafa;
    margin: $margin;
    cursor:pointer;
}

label {
    margin-left:5px;
}

.passwordField {
    width:300px;
    float:left;
}

.passwordFeedback {
    width:250px;
    float:left;
}

//verschachteln
.passwordFeedback.feedback {
    margin:$margin;
    font-size:11px;
    font-weight:600;

}

//verschachteln
.feedback.error {
    color:$errorColor;
}

.feedback.warning {
    color:$warningColor;
}

.feedback.success {
    color:$successColor;
}

.strengthIndicator {
    margin:$margin;
    width: 200px;
    padding:$padding;
    height: 13px;
    border:1px solid #d3d3d3;
}

.strengthIndicator::before {
    content: "";
    display: block;
    height: 100%;

//AUFGABE 2d) MIXINS verwenden

    //-moz-transition-property: width;
    //-o-transition-property: width;
   // -webkit-transition-property: width;
   // transition-property: width;
    @include transition-property(width);

    //-moz-transition-delay: 0;
    //-o-transition-delay: 0;
    //-webkit-transition-delay: 0;
    //transition-delay: 0;
    @include transition-delay(0);

    //-moz-transition-duration: 250ms;
    //-o-transition-duration: 250ms;
   // -webkit-transition-duration: 250ms;
    //transition-duration: 250ms;
    @include transition-duration(250ms);

    //-moz-transition-timing-function: linear;
    //-o-transition-timing-function: linear;
    //-webkit-transition-timing-function: linear;
    //transition-timing-function: linear;
    @include transition-timing-function(linear);
}

.passwordWrapper::after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

//verschachteln
.feedback.error .strengthIndicator::before {
    width: 10%;
    background-color: $errorColor;
}

.feedback.warning .strengthIndicator::before {
    width: 60%;
    background-color: $warningColor;
}

.feedback.success .strengthIndicator::before {
    width: 100%;
    background-color: $successColor;
}

.feedback.error, .feedback.warning, .feedback.success {
    display: none;
}

//AUFGABE 2c) verschachteln und kürzen
.error .feedback.error,
.warning .feedback.warning,
.success .feedback.success
{
    display: block;
}


